:root {
    --Dark-cyan: #19a2ae;
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    width: 327px;
    background-color: #fff;
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.32);
}
.card__header {
    display: block;
    width:100%;
}
.card__body {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-bottom: 1px solid rgba(155, 155, 155, 0.459);
}
.card__body__img {
    height: 200px;
    width: 200px;
    background-color: #f2f2f2;
    border-radius:50%;
    border: 6px solid #fff;
    margin-top: calc(-100px - 5px);
}
.card__body__title {
    margin-top: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.card__body__title span {
    margin-left: 1rem;
    color: var(--Dark-gray);
    font-weight: 400;
}
.card__body__text {
    color: var(--Dark-gray);
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;

}
.card__footer {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.card__footer__social {
    text-align: center;
    margin: 11px 0;
}
.card__footer__social h3 {
    color: var(--Very-dark-desaturated-blue);
    margin: 12px 0 8px 0;
    font-size: 2rem;
}
.card__footer__social p {
    font-size: 1.24rem;
    color: var(--Dark-gray);
    letter-spacing: 2px;
}
.recargar {
    order: 2;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.30);
    margin-top: 2rem;
    font-size: 2rem;
    padding: 14px 45px;
    border-radius: 15px;
    color: #0e0e0e;
    background-color: #4CCDA3;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.32);
    transition: background-color 0.4s ease-out;
}
.recargar:hover {
    background-color: #1DB8AE;
}